.checkout-left {
  width: 100%;
  padding-right: 25px;
  position: relative;
}

.checkout-left:after {
  content: '';
  height: calc(100%+30px);
  width: 1px;
  background-color: #e5e5ea;
  position: absolute;
  right: 0;
  top: -30px;
}

.checkout-right {
  max-width: 460px;
  width: 100%;
  padding-left: 20px;
}

.checkout-right__result {
  padding-left: 56px;
}

.checkout-right__count {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  margin-right: 30px;
}

.checkout-right__count span {
  opacity: 0.52;
  font-size: 14px;
  font-weight: 400;
}

.checkout-right__info {
  width: 100%;
}

.checkout-right__price {
  font-size: 15px;
  font-weight: 500;
}

.checkout-right__price span {
  opacity: 0.37;
  text-decoration: line-through;
  margin-right: 8px;
}

.checkout-right__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.checkout-right__row.item {
  position: relative;
  justify-content: flex-start;
}

.checkout-right__row.item:after {
  content: '';
  width: 100%;
  height: 1px;
  bottom: -15px;
  left: 0;
  position: absolute;
  background-color: #e5e5e5;
}

.checkout-right__row.item-param {
  margin-bottom: 0;
  justify-content: flex-start;
}

.checkout-right__row.item-title {
  margin-bottom: 10px;
}

.checkout-right__img {
  margin-right: 15px;
}

.checkout-right__item-title {
  font-size: 17px;
}

.checkout-right__link {
  font-size: 13px;
  color: #0f81ff;
  line-height: 20px;
}

.checkout-right__title {
  font-size: 19px;
}

.checkout-title {
  margin-bottom: 23px;
}

.checkout-nav {
  font-size: 13px;
  margin-bottom: 45px;
}

.checkout-nav__link.active {
  color: #007aff;
}

.checkout-head {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.checkout-head__title {
  font-size: 17px;
}

.checkout-head__count {
  padding: 9px 12px 9px 12px;
  border: 1px solid #000000;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 17px;
}

.checkout-head__count.active {
  color: #fff;
  background-color: #000;
}

.checkout-block {
  display: flex;
  padding-left: 78px;
  margin-bottom: 45px;
}

.checkout-block__check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e9e9e9;
}

.checkout-block__item {
  padding-left: 12px;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 60px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

.checkout-block__item.fir {
  margin-right: 30px;
}

.checkout-block__item.active {
  box-shadow: 4px 6px 11px rgba(0, 0, 0, 0.16);
  border: 1px solid #000000;
}

.checkout-block__item.active .checkout-block__check {
  background-color: #fff;
  border: 1px solid #000000;
}

.checkout-block__item.active .checkout-block__check:before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
}

.checkout-block__title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 17px;
}

.checkout-block__txt {
  font-size: 13px;
  line-height: 16px;
  padding-left: 20px;
  max-width: 250px;
}

.checkout-who {
  margin-left: 78px;
}

.checkout-sec__contacts {
  margin-bottom: 40px;
}

.checkout-sec__det {
  font-size: 14px;
  margin-bottom: 7px;
}

.checkout-sec__label {
  font-size: 11px;
  opacity: 0.52;
  margin-bottom: 20px;
  display: inline-block;
}

.checkout-sec__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.checkout-sec__row.checkbox {
  justify-content: flex-start;
  margin-bottom: 20px;
}

.checkout-sec__row.time {
  max-width: 490px;
}

.checkout-sec__row.small {
  max-width: 430px;
}

.checkout-sec__block {
  display: flex;
  margin-bottom: 34px;
}

.checkout-sec__cart {
  margin-right: 30px;
  height: 144px;
  border-radius: 5px;
}

.checkout-sec__cart.active {
  border: 1px solid #000000;
  background-color: #ffffff;
}

.checkout-sec__cart .lk-delivery__footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

.checkout-sec__cart .lk-delivery__footer:after {
  width: 0;
}

.checkout-sec__title {
  font-size: 15px;
  margin-bottom: 19px;
}

.checkout-sec__input {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  height: 49px;
  color: #000000;
  font-size: 14px;
}

.checkout-sec__input.name {
  width: 65%;
  margin-right: 30px;
}

.checkout-sec__input.phone {
  width: 35%;
  border: 1px solid #000000;
}

.checkout-sec__input.address {
  width: 100%;
}

.checkout-sec__input.small {
  padding-left: 11px;
  width: 87px;
}

.checkout-sec__input.small.disabled {
  background-color: #f7f6f6;
  border: unset;
}

.checkout-sec__input.textarea {
  width: 100%;
  resize: none;
  padding-left: 15px;
  padding-top: 15px;
  height: 108px;
  margin-bottom: 30px;
}

.checkout-sec__input.textarea.bottom {
  margin-left: 23px;
  width: calc(100%-24px);
}

.checkout-plus.empty {
  width: 20%;
  border-radius: 5px;
  border-style: solid;
  height: 144px;
}

.checkout-plus.empty .lk-delivery__plus {
  margin-right: 0;
}

.checkout-det__select {
  width: 210px;
  padding-left: 10px;
  height: 49px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

.checkout-det__select.small {
  width: 90px;
  margin-right: 30px;
}

.checkout-label {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #dfdfdf;
  cursor: pointer;
  margin-right: 7px;
}

.checkout-label:before {
  display: none;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  transition: 0.2s;
}

.checkout-checkbox {
  display: none;
  width: 0;
}

.checkout-checkbox:checked + label:before {
  display: block;
}

.checkout-bottom__title {
  font-size: 13px;
}

.checkout-bottom__row {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-bottom__btn {
  color: #fff;
  border: unset;
  font-size: 16px;
  width: 295px;
  height: 52px;
  box-shadow: 6px 5px 9px rgba(248, 92, 73, 0.32);
  border-radius: 5px;
  background-color: #f85c49;
}

.checkout-result__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-result__title {
  font-size: 15px;
}

.checkout-result__title.bold {
  font-weight: 700;
}

.checkout-result__title.red {
  font-size: 17px;
  color: #f85c49;
  font-weight: 700;
}

.checkout-result__btn {
  height: 40px;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}

.checkout-result__btn img {
  position: absolute;
  left: 20px;
}
