.lk-head {
  background-color: #f7f6f6;
  position: relative;
  top: -35px;
  padding-top: 46px;
}

.lk-head__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-left: 31px;
  padding-right: 31px;
}

.lk-head__line-count {
  font-size: 14px;
  border-radius: 25px;
  background-color: #ffffff;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-right: 40px;
}

.lk-head__line-count span {
  font-weight: bold;
}

.lk-head__line-right {
  display: flex;
  align-items: center;
}

.lk-head__line-log {
  display: flex;
  align-items: center;
}

.lk-head__line-log img {
  margin-right: 4px;
}

.lk-tabs__body {
  background-color: #fff;
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 50px;
}

.lk-tabs__head {
  padding-left: 31px;
  background-color: #f7f6f6;
}

.lk-tabs__title {
  font-size: 15px;
  padding-bottom: 13px;
  margin-right: 42px;
  position: relative;
}

.lk-tabs__title.ionTabs__tab_state_active:after {
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 115%;
  height: 3px;
  background-color: #000;
}

.lk-contacts {
  margin-bottom: 70px;
}

.lk-contacts__item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.lk-contacts__p {
  font-size: 16px;
}

.lk-contacts__p.c-title {
  width: 73px;
  margin-right: 60px;
}

.lk-contacts__link {
  color: #007aff;
  font-size: 12px;
}

.lk-delivery__item {
  padding-top: 26px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #f9f9f9;
  max-width: 384px;
  height: 186px;
}

.lk-delivery__item.empty {
  border: 2px dashed #dfdfdf;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lk-delivery__add {
  display: flex;
  align-items: center;
}

.lk-delivery__plus {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 24px;
  border-radius: 50%;
  margin-right: 9px;
  width: 32px;
  height: 32px;
  background-color: #f9f9f9;
}

.lk-delivery-title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.lk-delivery-subtitle {
  margin-bottom: 30px;
  opacity: 0.41;
  font-size: 14px;
}

.lk-delivery__line.left {
  margin-right: 45px;
}

.lk-delivery__title {
  opacity: 0.41;
  font-size: 11px;
  font-weight: 700;
}

.lk-delivery__p {
  font-size: 15px;
}

.lk-delivery__subtitle {
  opacity: 0.63;
  font-size: 12px;
}

.lk-delivery__block {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.lk-delivery__footer {
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.lk-delivery__footer:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(112, 112, 112, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
}

.lk-delivery__edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lk-delivery__edit-link {
  margin-right: 22px;
}

.lk-delivery__delete {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-decoration: underline;
}

.lk-delivery__delete img {
  margin-right: 5px;
}

.lk-history {
  background-color: #fff;
  padding-bottom: 1px;
}

.lk-history__slide {
  position: relative;
  background-color: #fcfcfc;
  padding-top: 30px;
}

.lk-history__slide .lk-history__row {
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lk-history__slide-btn {
  position: absolute;
  right: 20px;
  font-size: 13px;
  border-radius: 5px;
  width: 164px;
  height: 37px;
}

.lk-history__slide-btn i {
  margin-right: 5px;
}

.lk-history__btn {
  width: 130px;
  height: 37px;
  border-radius: 5px;
  font-size: 13px;
}

.lk-history .lk-history__row.lits-item:nth-of-type(even) {
  background-color: #f7f6f6;
  border-radius: 6px;
}

.lk-history__item {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.lk-history__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 16px;
}

.lk-history__row.bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}

.lk-history__row.lits-item {
  padding-top: 13px;
  padding-bottom: 17px;
}

.lk-history__row.lk-header {
  margin-bottom: 25px;
}

.lk-history__row.head {
  font-size: 12px;
  opacity: 0.63;
  position: relative;
  padding-bottom: 5px;
}

.lk-history__row.head:after {
  content: '';
  width: 100%;
  bottom: 0;
  height: 1px;
  opacity: 0.19;
  background-color: #707070;
  position: absolute;
  left: 0;
}

.lk-history__p {
  display: flex;
  flex-direction: column;
}

.lk-history__p.red {
  color: #f85c49;
}

.lk-history__p .red {
  color: #f85c49;
}

.lk-history__p.price {
  font-size: 22px;
}

.lk-history__p.big {
  width: 65%;
}

.lk-history__p.normal {
  width: 9%;
}

.lk-history__p.bottom {
  margin-left: 15px;
  font-size: 14px;
}

.lk-history__p.bottom.row {
  text-align: center;
  display: block;
  width: 11%;
}

.lk-history__p.bottom.bot {
  width: 20%;
  text-align: left;
}

.lk-history__p.head {
  opacity: 0.63;
  font-size: 14px;
}

.lk-history__p.head.left {
  display: block;
}

.lk-history__p span {
  font-size: 12px;
}
