.main-cart {
  background-color: #ffffff;
  z-index: 5;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s;
  width: 340px;
  border-left: 1px solid #e5e5ea;
  padding: 15px;
}

@media (max-width: 1280px) {
  .main-cart {
    display: none;
  }
}

.main-cart__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.main-cart__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-cart__title {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.main-cart__title img {
  margin-right: 9px;
}

.main-cart__item {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.main-cart__item:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #f2f2f4;
  bottom: 0;
  position: absolute;
}

.main-cart__close {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
  right: 10px;
  top: 0;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.main-cart__close:hover {
  background-color: #f5f5f5;
  color: red;
}

.main-cart-item__price {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.main-cart-item__price.old {
  opacity: 0.37;
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 8px;
}

.main-cart-item__p {
  font-size: 11px;
  margin-bottom: 5px;
}

.main-cart-item__img {
  margin-right: 15px;
}

.main-cart-item__title {
  font-size: 14px;
  margin-bottom: 10px;
}

.main-cart-item__block {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.main-cart__select {
  width: 60px;
  margin-right: 10px;
  height: 31px;
}

.main-cart-result {
  margin-bottom: 40px;
}

.main-cart-result__del {
  font-size: 11px;
  opacity: 0.7;
}

.main-cart-result__p {
  margin-bottom: 13px;
}

.main-cart-result__p.big {
  font-size: 17px;
}

.main-cart-result__p.bold {
  font-weight: 700;
  color: #f85c49;
}

.main-cart-bottom__block {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.main-cart-bottom__block .gifts-block__img {
  height: auto;
}

.main-cart-bottom__block .main-catalog-block__title {
  font-size: 13px;
}

.main-cart-bottom__block .main-catalog-block__price {
  font-size: 15px;
}
