.sales-promo {
  background-color: #000000;
  border-radius: 5px;
  position: relative;
  color: #fff;
  padding-top: 53px;
  padding-left: 32px;
  padding-right: 42px;
  padding-bottom: 32px;
  max-width: 282px;
  width: 100%;
}

@media (max-width: 1280px) {
  .sales-promo {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    margin-bottom: 0;
  }
}

.sales-promo__title {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 135px;
}

@media (max-width: 1280px) {
  .sales-promo__title {
    font-size: 18px;
    line-height: 25px;
  }
}

.sales-promo__subtitle {
  opacity: 0.5;
  font-size: 13px;
  margin-bottom: 3px;
}

.sales-promo__promo {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sales-promo__btn {
  color: #fff;
  font-size: 14px;
  width: 136px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #f85c49;
}

.sales-promo__bg {
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
}

.sales-posts {
  max-width: 438px;
  width: 100%;
  border: 1px solid #e6e5ea;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 1280px) {
  .sales-posts {
    max-width: unset;
    padding: 0;
  }
}

.sales-posts__title {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 12px;
  font-size: 21px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .sales-posts__title {
    padding-left: 0;
    padding-right: 0;
  }
}

.sales-posts__subtitle {
  font-size: 14px;
  line-height: 18px;
  padding-left: 70px;
  padding-right: 70px;
}

@media (max-width: 1280px) {
  .sales-posts__subtitle {
    padding-left: 0;
    padding-right: 0;
  }
}

.sales-posts__bg {
  width: 100%;
  margin-bottom: 19px;
}
