@import "media";

.link
	color: #000000
	font-size: 14px
	text-decoration: none
	border-bottom: 1px dashed #000080
.input
	background-color: #f0f0f0
	border-radius: 3px
	border: 0
	padding: 10px
	min-width: 192px
	//text
	color: rgba(#000, 0.46)
	font-size: 12px

.button
	display: flex
	align-items: center
	justify-content: center
	border-radius: 2px
	border: 1px solid #000000
	@media (max-width: $media-mobile)
		font-size: 14px
	&--black
		background-color: #000000
		width: 141px
		height: 36px
		//text
		color: #ffffff
		font-size: 14px
	&--white
	

.breadcrums
	font-size: 14px
	margin-bottom: 30px
	@media (max-width: $media-mobile)
		display: none
	& span
		& a
			color: #b2b2b2

.mobile
	&-ball
		display: flex
		align-items: center
		justify-content: center
		width: 58px
		height: 58px
		box-shadow: 5px 6px 13px rgba(248, 92, 73, 0.4)
		background-color: #f85c49
		position: fixed
		bottom: 30px
		border-radius: 50%
		left: 50%
		z-index: 1
		transform: translateX(-50%)
		&__count
			position: absolute
			right: 0
			top: 0
			width: 20px
			height: 20px
			display: flex
			align-items: center
			justify-content: center
			font-size: 13px
			background-color: #fff
			border-radius: 50%
			color: #f85c49


.ionTabs
	&__item
		@media (max-width: $media-mobile)
			display: block